<IfModule mod_rewrite.c>
    Options +FollowSymlinks -Multiviews
    RewriteEngine On
    ##301
    ##RewriteCond %{HTTP_HOST} ^(.*)$
    ##RewriteRule (.*) http://www\.%1/$1 [R=301,L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    RewriteRule ^image/(.*).jpg$ /pub/qm/p/image/$1.jpg [QSA,PT,L]
    RewriteRule ^image/(.*).png$ /pub/qm/p/image/$1.png [QSA,PT,L]
    RewriteRule ^image/(.*).jpeg$ /pub/qm/p/image/$1.jpeg [QSA,PT,L]
    RewriteRule ^image/(.*).gif$ /pub/qm/p/image/$1.gif [QSA,PT,L]
    RewriteRule ^image/(.*).pdf$ /pub/qm/p/image/$1.pdf [QSA,PT,L]
    RewriteRule ^image/(.*)$ /pub/qm/p/image/$1 [QSA,PT,L]

    ##doc', 'docx', 'xls', 'xlsx', 'ppt', 'htm', 'html', 'txt', 'zip', 'rar', 'gz', 'bz2','pdf'
    RewriteRule ^(.*).mp3$ $1.mp3 [QSA,PT,L]
    RewriteRule ^(.*).pdf$ $1.pdf [QSA,PT,L]
    RewriteRule ^(.*).xml$ $1.xml [QSA,PT,L]
    RewriteRule ^(.*).txt$ $1.txt [QSA,PT,L]
    RewriteRule ^(.*).css$ $1.css [QSA,PT,L]
    RewriteRule ^(.*).js$ $1.js [QSA,PT,L]
    RewriteRule ^(.*).ico$ $1.ico [QSA,PT,L]
    RewriteRule ^(.*).jpeg$ $1.jpeg [QSA,PT,L]
    RewriteRule ^(.*).gif$ $1.gif [QSA,PT,L]
    RewriteRule ^(.*).jpg$ $1.jpg [QSA,PT,L]
    RewriteRule ^(.*).png$ $1.png [QSA,PT,L]
    RewriteRule ^(.*).jpeg$ $1.jpeg [QSA,PT,L]
    RewriteRule ^(.*).ttf$ $1.ttf [QSA,PT,L]
    RewriteRule ^(.*).woff$ $1.woff [QSA,PT,L]
    RewriteRule ^(.*).woff2$ $1.woff2 [QSA,PT,L]

    RewriteRule ^view-(.*).html$ index.php/index/index/view?id=$1 [QSA,PT,L]
    RewriteRule ^vote-(.*).htm$ index.php/index/index/votes?id=$1 [QSA,PT,L]
    RewriteRule ^pub/qm/(.*).html$ pub/qm/$1.html [QSA,PT,L]
    RewriteRule ^pub/qm/(.*).php$ pub/qm/$1.php [QSA,PT,L]
    RewriteRule ^pub/(.*)$ pub/$1 [QSA,PT,L]
    RewriteRule ^comm/(.*)$ comm/$1 [QSA,PT,L]
    RewriteRule ^qmcms/databak17/dbak.php$ qmcms/databak17/dbak.php [QSA,PT,L]
    ##微信支付
    RewriteRule ^api/wxpayJSAPI$ index.php/index/api/wxpayJSAPI [QSA,PT,L] 
    RewriteRule ^api/notify/id/(.*)$ index.php/index/api/notify/id/$1 [QSA,PT,L]

    RewriteRule ^user/paymoney/(.*).html$ index.php/index/api/paymoney?orderid=$1 [QSA,PT,L] 
    RewriteRule ^user/paymoney/notify/(.*).htm$ index.php/index/api/notify?id=$1 [QSA,PT,L] 

    ##验证码
    RewriteRule ^captcha.do index.php/captcha.qm [QSA,PT,L]
    RewriteRule ^admin/(.*)$ index.php/admin/$1 [QSA,PT,L]    
    RewriteRule ^user/(.*)$ index.php/index/user/$1 [QSA,PT,L]   
    RewriteRule ^qm.login$ index.php/admin/login [QSA,PT,L]
    RewriteRule ^api/(.*)$ index.php/api/$1 [QSA,PT,L]

    

    
    ##默认伪静态
    RewriteRule ^zan/?(.*)$ index.php/index/index/zan [QSA,PT,L]
    RewriteRule ^msg4/?(.*)$ index.php/index/index/msg11 [QSA,PT,L]
    RewriteRule ^msg3/?(.*)$ index.php/index/index/msg10 [QSA,PT,L]
    RewriteRule ^msg2/?(.*)$ index.php/index/index/msg9 [QSA,PT,L]
    RewriteRule ^msg/?(.*)$ index.php/index/index/msg8 [QSA,PT,L]
    RewriteRule ^sign4/?(.*)$ index.php/index/index/sign4 [QSA,PT,L]
    RewriteRule ^sign3/?(.*)$ index.php/index/index/sign3 [QSA,PT,L]
    RewriteRule ^sign2/?(.*)$ index.php/index/index/sign2 [QSA,PT,L]
    RewriteRule ^sign1/?(.*)$ index.php/index/index/sign1 [QSA,PT,L]
    RewriteRule ^hit/?(.*)$ index.php/index/index/hit [QSA,PT,L]
    RewriteRule ^baidu/?(.*)$ index.php/index/index/baidu [QSA,PT,L]

    RewriteRule ^index.html$ index.php/index/index [QSA,PT,L]
    RewriteRule ^/$ index.php/index/index [QSA,PT,L]
    RewriteRule ^(.*).htm$ index.php/index/index/$1 [QSA,PT,L]
    RewriteRule ^whome/(.*)$ index.php/index/$1 [QSA,PT,L]
    RewriteRule ^(.*).al$ index.php/index/index/$1 [QSA,PT,L] 

    RewriteRule ^(.*)(\w+).html$ index.php/index/index [QSA,PT,L]
    RewriteRule ^(.*)/$ index.php/index/index [QSA,PT,L]
    RewriteRule ^(\w+)$ index.php/index/index [QSA,PT,L]
    RewriteRule ^(\w+)/(.*)$ index.php/index/index [QSA,PT,L]

    ErrorDocument 404 /error/404.html
    ErrorDocument 403 /error/403.html
    ErrorDocument 500 /error/500.html
</IfModule>