@charset "utf-8";
/* CSS Document */
* {padding:0px; margin:0px; }
a {text-decoration:none;}
img {border:0px;}
ul,li{ list-style:none;}
h1,h2,h3,h4,span,strong,em{ margin:0px; padding:0px;}
.body {font-size:12px;font-family:"宋体"; height:100%; background:url(../images/bj.jpg); width:100%;}
.red{ color:#f00;}
html,body{font-family:"microsoft yahei","Helvetica Neue",Helvetica,Arial,sans-serif,"宋体" !important;}
.login{ width:495px; height:100%; margin:150px auto 0 auto;}
.login span{ float:left; width:382px; height:44px; padding-left:6px;}
.login h3{ float:left; width:495px; height:149px; margin:0px 0px 0px 5px; display:inline;}
.login strong{ float:left; background:url(../images/l1.gif) repeat; width:445px; height:138px; padding:45px 0px 0px 60px; font-weight:normal; border:#FFF;}
.login strong h1{ float:left; width:250px; height:25px; font-size:14px; color: #933; font-weight:normal; display:inline; margin:0px 0px 6px 100px;}
.login strong h2{ float:right; margin:40px 18px 0px 0px; _margin:15px 10px 0px 0px;!important display:inline; width:450px; height:100%; _height:50px;!important}
.login strong h2 img{ float:right; width:100px; margin:0px 30px 0px 0px; }
.login strong h2 em{ float:left; font-size:14px; line-height:20px; font-style:normal; margin:2px 0px 0px 0px; color:#ffea00; font-weight:bold; width:100px; _width:50px;!important height:100%;}

.login_kuang{ width:250px; height:18px; margin:0px 0px 11px 0px; border:1px solid #FFF; background:#FFF;}
.login_kuang2{ float:left; width:60px; height:18px; margin:0px 5px 0 0px; border:1px solid #FFF; background:#FFF;}
button.xsbtn{background:url(../images/l2.gif) no-repeat; width:100px; height:26px; border:none; overflow:hidden;}

.xbtn,.xbutton{ border:1px solid #ccc; background:#fcfcfc; padding:0 5px; margin:0 2px; cursor:pointer; height:22px;}
.xinput{ border:1px solid #9B9B9B;height:20px;}

#myPage { width:100%; height:100%;overflow:auto; padding:0; margin:0;}
.lightBox,.lightBoxbox,.lightBoxpopupCover,.lightBoxpopupIframe { position:absolute; position:fixed;left:0; top:0; width:100%; height:100%;}
.lightBox {z-index:200; display:none; }
#loading{ z-index:250;}
.lightBoxpopupIframe{ display:none; _display:block; _filter:alpha(opacity=0);}
.lightBoxpopupCover { background:#000; background:none; opacity:0.2; filter:alpha(opacity=20);}
.lightBoxbox{text-align:center; overflow:auto;}
.lightBoxContent { position:relative; display:inline-block; *display:inline; zoom:1; min-width:200px; background-color:#fff; padding:10px; min-height:24px; border:4px solid #2C8ECD; vertical-align:middle; z-index:9999;}
.lightBoxMaxHeight{display:inline-block; vertical-align:middle; height:100%; *height:99.5%; width:1px; overflow:hidden; margin-left:-1px;}
.lightBoxWrapper { display:inline-block; *display:inline; zoom:1; text-align:left;}
.lightBoxWrapper td{ padding:4px 0;}
.boxtitle{ border-bottom:1px solid #ddd; color:#000; padding-bottom:5px; font-weight:bold; margin-bottom:5px;}
.lightBoxSubmit { margin-top:10px; padding-top:5px; border-top:1px solid #ccc;}
.lightBoxSubmit input { font-size:12px;  overflow:visible; margin:0 5px; 

color: #fff;
background-color: #428bca;
border-color: #357ebd;

display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;

}
.lightBoxinfo{ background:#fff url(../images/info.gif) no-repeat 30px 5px;}
.lightBoxloading{ background:#fff url(../images/load.gif) no-repeat 30px 5px;}
.lightBoxinfo .lightBoxWrapper,.lightBoxloading .lightBoxWrapper{ font-size:15px; padding:5px 60px 0 70px; text-align:left;}
.page {}
.page a{ display:inline-block; padding:0 2px;}
.page a.current{ color:#f00;}
.curve_mid{ width:100%; margin-top:10px;}
.curve_mid td{ padding:4px 5px;}
.curve_mid tr.no td{ padding:10px 0;}
.curve_mid th{ text-align:center;}
.form-control{ display:inline-block;}
.center{ text-align:center;}
.b25{ width:25%;}
.b30{ width:30%;}
.b50{ width:50%;}
.b75{ width:75%;}
.b80{ width:80%;}
.wat{ width:auto;}
.w30{ width:50px; padding:2px 4px; height:24px; line-height:24px;}
.w30_{ width:50px; padding:6px 4px; }
.w120{ width:120px; padding:6px 4px;}
.w180{ width:180px; padding:6px 4px;}
.w90_{ width:90px; padding:6px 4px; }  
.fright{ float:right;}
.btnd:hover{ background:#999; color:#fff;}
.nav-bottom-sidebar a{ width:100%;}
.navbar-brand{ height:36px; overflow:hidden; padding-right:0;}
.iconfont {font-size: 15px !important;}

.qmbtn{ position: relative; overflow: hidden;}
.qmbtn input[type=file]{ position: absolute; right: 0; top: 0;
    filter:alpha(opacity=0);-moz-opacity:0; opacity:0; max-width: 100%;
}

#pgsize{ margin-top: 5px;}
.td div{ position:relative; display:block; /*z-index:999;*/ height:20px;}
.td div img{ height:60px; position:absolute; margin-top:-20px;}

a {color: #3b4348;text-decoration: none;}
a:hover,
a:focus,
a:active{text-decoration: none;outline: medium none;cursor: pointer;}
.pagination>li>a, .pagination>li>span {color: #666;}
.page a {display: inline-block;padding: 0 2px;}


.curve_mid tr.no td {padding: 10px 0;}
table.table tbody > tr > td {
    text-align: center;
    word-break: break-all;
    word-wrap: break-word;
}
.text-left{ text-align: left !important;}