	<div class="all_center_box">
		<div class="hyzx_box wf100">
			<div class="top_box wf100">
				<div class="tx wf100"><img src="{$user.photo}" alt="{$user.nc}"></div>
				<div class="name wf100">{$user.nc}</div>
				<div class="bt wf100"><span>美容达人</span></div>
			</div>
			<div class="lower_box wf100">
				<ul>
					<li><a href="/user/info"><span class="clr1">我的资料</span><i></i></a></li>
					<li><a href="/user/order"><span class="clr2">我的订单</span><i></i></a></li>
					<li><a href="/user/yuyue"><span class="clr3">我的预约</span><i></i></a></li>
					<li><a href="/user/kaquan"><span class="clr4">我的优惠券</span><i></i></a></li>
					<li><a href="/user/jf"><span class="clr5">我的积分</span><i></i></a></li>
				</ul>
			</div>
		</div>
		
	</div>
