	<div class="all_center_box">
		<div class="my_jf_box wf100">
			<div class="box1 wf100">
				<div class="fp-tableCell">
					<h1>{$user.jf}</h1>
					<p>可用积分</p>
				</div>
			</div>
			<div class="box2 wf100">
				<span>昨可用积分：{$user.jf}分</span>
				<span>累计已获：{$user.zjf}分</span>
			</div>
		</div>
		<div class="hyzx_box wf100">
			<div class="lower_box wf100">
				<ul>
					<li><a href="/user/jfinfo"><span class="clr5">积分明细</span><i></i></a></li>
					<li><a href="/user/jfinfo?ty=2"><span class="clr2">积分兑换记录</span><i></i></a></li>
				</ul>
			</div>
		</div>
		<div class="my_jf_box wf100">
			<div class="box3 wf100">
				<h5>常见问题</h5>
				<ul>
					<li>
						<span>1、积分有什么用途？</span>
						<p>积分可以进行低现；10分低现1元现金；在不久以后还将具备可兑换精美礼品等多项用途，敬请期待！</p>
					</li>
					<li>
						<span>2、如何获得更多积分？</span>
						<p>在美丽商城通过购买商品可快捷获得积分，购买越多，优惠越多！</p>
					</li>
				</ul>
			</div>
		</div>
	</div>