{__NOLAYOUT__}<!DOCTYPE html>
<html style="font-size: 79.15px;" class="ng-scope"><head>
    <meta charset="utf-8">
    <title>预约二维码扫描</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
</head>
<body class="status status_{$sm_result}">
<style>
.status{ text-align: center;  color: #fff; padding: 50px 0;}
.status_1{ background: #6BC35A; }
.status_0{ background: #f00; }
.status_alt{ font-size: 24px; font-weight: bold; }
</style>
<div class="statusd statusd_{$sm_result}">
<div class="status_alt">
	{$sm_alt}
</div>
</div>
</body>
</html>