<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="author" content="www.quanmeicm.net">
<title>{$utyname}-{$title}</title>
<meta name="keywords" content="{$keywords}" />
<meta name="description" content="{$description}" />
<link rel="icon" href="/favicon.ico">
<link rel="stylesheet" href="/Comm/css/bootstrap.css">
<link href="/Comm/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Comm/js/jquery.min.js"></script>
<script type="text/javascript" src="/Comm/js/bootstrap.js"></script>
<script type="text/javascript" src="/Comm/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="/Comm/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="/pub/layer/layer.js"></script>
<script type="text/javascript" src="/Comm/js/index.js"></script>
{$sysfig.cfg_head}
</head>
<body>
{$sysfig.cfg_body}