<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <ol class="breadcrumb">
        <li class="pull-right"><a href="#no" onClick="history.go(-1)">返回</a></li>
        <li><i class="icon-coffee"></i> <a href="{$mname}">预约申请管理</a></li>
    </ol>
    <div class="wrap">
        <h2 class="wrap-head"><strong><i class="icon-edit"></i></strong><small>{$actionType}预约申请管理</small></h2>
        <form action="{$mname}/save.qm" onsubmit="return save()" class="form-horizontal">
        <input type="hidden" name="id" value="{$vo.id}" /><br>
        <input type="hidden" name="from" value="{$from}" />
        <table class="table table-hover table-bordered curve_mid">
        <tr>
          <td align="right" width="10%">　姓名：</td>
          <td width="90%" style="text-align:left">{$vo.truename}</td>
        </tr>
        <tr>
          <td align="right" width="10%">　手机：</td>
          <td width="90%" style="text-align:left">{$vo.phone}</td>
        </tr>
        <tr>
          <td align="right" width="10%">　预约名称：</td>
          <td width="90%" style="text-align:left">{$vo.cntitle}</td>
        </tr>
        <tr>
          <td align="right" width="10%">　技师姓名：</td>
          <td width="90%" style="text-align:left">{$vo.yy_teacher_name}</td>
        </tr>
        <tr>
          <td align="right" width="10%">　预约时间：</td>
          <td width="90%" style="text-align:left">{$vo.yytime|date='Y-m-d H:i',###}</td>
        </tr>
        <tr>
          <td align="right" width="10%">　服务时长：</td>
          <td width="90%" style="text-align:left">{$vo['timeint']/2}小时</td>
        </tr>
        <tr>
          <td align="right" width="10%">　预约人数：</td>
          <td width="90%" style="text-align:left">
          <select name="num">
            {php}
            $max=20;
            if ($vo['orderid']!='' && $vo['audit']==0)
            {
                $max=M('order_goods')->where("orderid='".$vo['orderid']."' and pid='".$vo['pid']."'")->value('snum');  
            }
            for ($i=1;$i<=$max;$i++)
            {
            {/php}
            <option value='{$i}' {if condition="$i eq $vo['num']"}selected{/if}>{$i}人</option>
            {php}
            }
            {/php}
          </select>
          </td>
        </tr>

        <tr>
          <td align="right" width="10%">　备注：</td>
          <td width="90%" style="text-align:left">
          <textarea name="bz" class="form-control" style="height:60px;line-height: 20px">{$vo.bz|stripslashes}</textarea>
          </td>
        </tr>

        <tr class="no">
        <td colspan="2" align="center">
        {eq name="vo.audit" value='0'}
        <button id="btn_sub" type="submit" class="btn btn-primary"><i class="icon-ok"></i>保 存</button>　
        {/eq}　
         <button type="button" class="btn btn-default" onClick="history.go(-1);"><i class="icon-reply"></i>返 回</button></td>
        </tr>
        </table>
    </form>
  </div>
</div>
<script src="__PUBLIC__/validform/js/validform_v5.3.2.js"></script>
<script src="__PUBLIC__/validform/js/validform.js"></script>
