<style>
    iframe{ border: none;width:99%;height:240px;}
    #tdhtm{height:300px; background:#fff;}
    #tdhtm h2{text-algin:center;padding:40px;color:#33D900;}
</style>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <ol class="breadcrumb">
        <li style='float:right'><a href="{$mname}/html.qm" target="html">生成全站HTML</a></li>
        <li><i class="icon-coffee"></i> 更新缓存</li>
    </ol>
    <div class="wrap">
        <h2 class="wrap-head"><strong><i class="icon-edit"></i></strong><small>更新缓存</small></h2>        
        <table class="table table-hover table-bordered curve_mid">
        <tr>
        <td colspan="7" id="tdhtm">
            <h2>更新完成</h2>
            <iframe id='html' name='html' src=""></iframe> 
        </td>
        </tr>
        </table> 
    </div>
</div>