  <div class="clear"></div>
  <div class="footer_contact contact_blue">
    版权所有：{$sysfig.cfg_name}<br>
  </div>
</div>
<div class="footer"> </div>
<div id="floatLink" class="floatLink">
  <li><a class="a1" href="tel:{$sysfig.cfg_f1}"><span>电话1</span> </a></li>
  <li><a class="a1" href="tel:{$sysfig.cfg_f2}"><span>电话2</span> </a></li>
  <li><a class="a3" href="{:htmlname(5)}" target="_self"><span>联系我们</span> </a></li>
  <li class="no"><a class="a4" href="/" target="_self"><span>返回首页</span> </a> </li>
</div>
<script type="text/javascript" src="/Comm/m/js/banner.js"></script> 
<script type="text/javascript">
    $('.flexslider').flexslider({
        animation: "slide"
    });
    $(function () {
        $(".flex-next,.flex-prev").html("")
    })
</script>
</body>
</html>
{$sysfig.cfg_body}
</body></html>