<link rel="stylesheet" href="/pub/bootstrap/css/bootstrap-select.min.css">
<script src="/pub/bootstrap/js/bootstrap-select.js"></script>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <ol class="breadcrumb">
        <li class="pull-right"><a href="#no" onClick="history.go(-1)">返回</a></li>
        <li><i class="icon-coffee"></i> 会员信息管理</li>
        <li><a href="{$mname}">会员信息管理</a></li>
    </ol>
    <div class="wrap">
        <h2 class="wrap-head">
            <strong><i class="icon-edit"></i></strong>
            <small>{$actionType}会员信息</small>
        </h2>    
<div class="table-responsive">
<form  action="{$mname}/save.qm" onsubmit="return save()" class="form-horizontal" method="post">
<input type="hidden" name="id" value="{$vo.user_id}" />
<input type="hidden" name="from" value="{$from}" />
<table class="curve_mid" border="0" cellpadding="2" cellspacing="2">
</tr>
  <td align="right" width="10%">　注册时间：</td>
  <td width="90%" style="text-align:left">{$vo.time|date='Y-m-d H:i:s',###}</td>
</tr>
<tr>
  <td align="right" width="10%">　头像：</td>
  <td width="90%" style="text-align:left"><a href="{$vo.photo}" target="_blank"><img src="{$vo.photo}" height="100" /></a></td>
</tr>
<tr>
  <td align="right" width="10%">　性别：</td>
  <td width="90%" style="text-align:left">{$vo.sex}</td>
</tr>
<tr>
  <td align="right" width="10%">　城市：</td>
  <td width="90%" style="text-align:left">{$vo.area}</td>
</tr>

<tr>
  <td align="right" width="10%">　昵称：</td>
  <td width="90%" style="text-align:left">
    <input type="text" class="form-control b50" name="nc" value="{$vo.nc}">
  </td>
</tr>
<tr>
  <td align="right" width="10%">　姓名：</td>
  <td width="90%" style="text-align:left">
    <input type="text" class="form-control b50" name="truename" value="{$vo.truename}">
  </td>
</tr>

<tr>
  <td align="right" width="10%">　手机号：</td>
  <td width="90%" style="text-align:left">
    <input type="text" class="form-control b50" name="phone" value="{$vo.phone}">
  </td>
</tr>
<tr>
  <td align="right" width="10%">　生日：</td>
  <td width="90%" style="text-align:left">
    <input type="text" class="form-control b50" name="birthday" value="{$vo.birthday}" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',maxDate:'%y-%M-%d'})" readonly="readonly">
  </td>
</tr>
<tr>
  <td align="right" width="10%">　邮寄地址：</td>
  <td width="90%" style="text-align:left">
    <input type="text" class="form-control b50" name="address" value="{$vo.address}">
  </td>
</tr>
<tr>
  <td align="right" width="10%">　用户级别：</td>
  <td width="90%" style="text-align:left">
    {php}
    $mtba=M('attr');
    $varr=$mtba->where("fid='0' and del='0'")->field('id,cntitle')->select();
    {/php}
      <select name="class" class="form-control wat" required>
          <option value="">请选择用户级别</option>
      {php}
      $mtba=M('attr');
      $varr=$mtba->where("fid='0' and del='0'")->field('id,cntitle')->select();
      {/php}
      {volist name='varr' id='ky'}
      <option value="{$ky.id}" {if condition="$ky['id'] eq $vo['class']"}selected{/if}>{$ky.cntitle}</option>
      {/volist}
      </select>
  </td>
</tr>

<tr class="hides">
<td align="right">　备注：</td>
<td>
<textarea class="form-control" style="height:80px;" name="about">{$vo.about}</textarea>
</td>
</tr>


  <tr class="no">
    <td colspan="2" align="center">
    <button id="btn_sub" type="submit" class="btn btn-primary hides"><i class="icon-ok"></i>保 存</button>　　
     <button type="button" class="btn btn-default" onClick="history.go(-1);"><i class="icon-reply"></i>返 回</button></td>
  </tr>
</table>
</form>
</div></div>
<script src="__PUBLIC__/validform/js/validform_v5.3.2.js"></script>
<script src="__PUBLIC__/validform/js/validform.js"></script>