/*产品*/
#product-head {
	position: fixed;
	top:0;
	left:0;
	right:0;
	height:1.4rem;
	background-color: #fff;
}
#product-head .glyphicon-menu-left-btn {
	display: block;
	font-size: .4rem;
	position: absolute;
	top:.25rem;
	left:.375rem;
	z-index:9; cursor:pointer;
}
#product-head .search {
	position: relative;
	margin-top: .24rem;
	padding:0 .375rem 0 1.2rem;
}
#product-head .text {
	width:8.2rem;
	padding-left:.8rem;
	border:1px solid #eee;}
#product-head .glyphicon-search {
	position: absolute;
	top:.1208rem;
	left:1.4rem;
}

.sortnav a{
	display: inline-block;
	padding:.2rem 0;
	width:24%;
	text-align: center;
	border-right:1px solid #eee;
}
.sortnav a:last-child {border:none;}
.sortnav .glyphicon {
	margin-left:.14rem;
}
.sortnav {
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.sortnav .active {color:#36a803;}
.product-list-wrap a {
	display: block;
	padding:.375rem .1rem .28rem;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
} 
.product-list-wrap img,
.product-list-wrap .pic,
.cart-wrap .pic,
.cart-wrap img
 {
	width:1.875rem;
	height:1.875rem;
}
.product-list-wrap .pic {
	width:2.18rem;
}
.product-list-wrap .detail-wrap {
	padding-left:.46rem;
	padding-right:.46rem;
	width:7.3rem;
}
.product-list-wrap h4 {
	font-size: .321875rem;
}
.product-list-wrap .price {

	color:#f66;
	font-size: .56rem;
	font-weight: bold;}
.product-list-wrap .comment {
	font-size: .28rem;
	color:#999;}
.product-list-wrap li {
	border-bottom:1px solid #eee;
}
.cart-wrap .item {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding:.32rem .2rem;
}
.cart-wrap .pic {
	-webkit-flex:1;
	-ms-flex:1;
	-moz-flex:1;
	-ms-flex:1;
	flex:1;
}
.cart-wrap .detail-wrap {
	position: relative;
	-webkit-flex:4;
	-ms-flex:4;
	-moz-flex:4;
	-ms-flex:4;
	flex:4;
	width:7.6rem;
}
.cart-wrap h4 {
	font-size: .341875rem;
}
.cart-wrap .price {
	margin:.3rem 0;
	font-size: .375rem;
	color:#ff4141;
}
.cart-wrap .remove {
	position: absolute;
	right:0;
	bottom:0;
	color:#38a905;
}
.cart-wrap .num-wrap {
	padding-left: .2rem;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
/*产品分类*/
.classify-container {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.classify-container .sidenav{
	width:1.87rem;    background-color: #f3f4f6;
}
.classify-container .sidenav li {
	background-color: #f3f4f6;
	border:1px solid #eee;
}
.classify-container .sidenav a {
	padding:.3rem 0;
	font-size: .34rem;
	text-align: center;
	display: block;
}
.classify-container .sidenav .active {
	color:#5eb544;
	background-color: #fff;
}
.classify-container .classify-pro{
	width:8rem;
}
.classify-container .classify-pro ul {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-moz-box-orient: horizontal;
-moz-box-direction: normal;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
-moz-flex-wrap: wrap;
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
.classify-container .classify-pro li{
	display: inline-block;
	margin:.45rem 0;
	width:50%;
	text-align: center;
}
.classify-container .classify-pro img {
	width:3.425rem;
	height:3.425rem;
}
.classify-container .classify-pro .name {
	font-size: .34rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding:.2rem 0;
}

/*登录*/
.login-container {
	padding:.46rem .3rem;
}
.login-container .forget {
	color:#f1720c;
}
.login-container .related {
	margin:.3rem;
}
.login-container .icon-wrap .iconfont {
	font-size: .646rem;
}
.login-container .icon-wrap  a {
	margin-right: .2rem;
}
#reg-btn,.btn-login {
	color:#fff;
	background-color: #36a803;
}
.login-container .icon-weixin {color:#36a803;}
.login-container .icon-xinlang {color:#e02226;}
.login-container .icon-qq {color:#3caaff;font-size: .5rem !important;vertical-align: bottom;}
.login-container .icon-zhifubao {color:#ffbc3c;}
.login-container .code .form-control {
	width:auto;
	display: inline-block;
}
.modal .icon-yes {
    font-size: 100px;
    color: #36a803;
}

/*订单*/
.order-container .add-address {
	padding:.45rem 0;
	font-size: .32rem;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.order-container .order-list a{
    padding:.3rem;
}
.order-container .order-list li {
	margin:.4rem 0;
}
.order-container .order-list li.queh{ background: #aaa; }
.order-container .order-list li .pic {width: 1.875rem;}
.order-container .order-list img{
	width: 1.875rem;
    height: 1.875rem;
}
.order-container .order-list h4 {
	font-size: .35rem;
}
.order-container .order-list h5 {
	margin:.25rem 0;
	font-size: .32rem;
	color:#999;
}
.order-container .order-list h4,
.order-container .order-list h5{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.order-container .order-list .order-detail {
	position: relative;
	width:7.3rem;
	padding-left:.3rem;
	padding-right:.6rem; 
}
.order-container .order-list .num-wrap {
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.order-container .order-list .num,
.order-container .order-list .price {
	font-size: .3rem;
}
.order-container .order-list .price {color:#ff4400;font-weight: bold;}
.order-container .order-list .glyphicon-menu-right {
	position: absolute;
	right:0;
	top:50%;
	margin-top: -.25rem;
	font-size: .5rem;
	color:#999;
}
.order-container .mail-price {
	padding:.45rem .3rem;
	font-size: .321875rem;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	margin:.3rem 0;
}
.order-container .mail-price .to {
	padding:.1rem .2rem;
	color:#ff4400;
	border:1px solid #ff4400;
	border-radius: 5px;
}
.order-container .mail-price .price {
    color:#ff4400;
}
.order-container .count {
	justify-content: space-between;
	-webkit-justify-content: space-between;
	font-size: .32rem;
	padding:.4rem .3rem;
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
}
.order-container .count .total {
	font-size: .35rem;
}
.order-container .count .total .price {
	color:#ff4400;
	font-size: .4rem;
	font-weight: bold;
}
.order-container .sum {
	position: fixed;
	bottom: 1.4rem;
	left:0;
	right:0;
}
.order-container .sum .price,
.order-container .sum .btn-wrap {
	width:50%;
	padding:.2rem 0;
	text-align: center;
}
.order-container .sum .price {
	color:#fff;
	font-size: .46rem;
	font-weight: bold;
	background-color: #333;
}
.order-container .sum .btn-wrap a{
	display: block;
	color:#fff;
	font-size: .46rem;
	font-weight: bold;
}
.order-container .sum .btn-wrap {
	background-color: #cacaca;
}
.address-wrap li {
	padding:.34rem .3rem;
}
.address-wrap .left {
	-webkit-flex:4;
	-ms-flex:4;
	-moz-flex:4;
	-ms-flex:4;
	flex:4;
	font-size: .25rem;
}
.address-wrap .right {
	-webkit-flex:1;
	-ms-flex:1;
	-moz-flex:1;
	-ms-flex:1;
	flex:1;
	font-size: .25rem;
	color:#0097e5;
}
.address-wrap address {
	padding-left: .3125rem;
	margin-top:.2rem;
}
/*支付*/
.pay-container {
	padding:.44rem .3rem .6rem;
}
.pay-container .pay-title h3 {
	font-size: .4rem;
	font-weight: bold;
}
.pay-container .pay-title h4 {
	margin:.2rem 0;
	font-size: .32rem;
}
.pay-container .price {
	margin-bottom: .6rem;
	font-size: .42rem;
}
.pay-container .price strong {
	font-size: .44rem;
	color:#ff6600;
}
.pay-container .pay-type h4 {
	margin-bottom: .3rem;
	font-size: .32rem;}
.pay-container .pay-type img {width:2.5rem;height:.64rem;}
.pay-container .pay-type {font-size: .35rem;}
.pay-container .pay-type .item {margin-bottom: .32rem;}
.coupon-section {padding:.3rem;}
.pp .icon-yes {font-size: .33rem;}
#pinp,#pinz,#diqu{display: none;}
#btn-zf {
	color:#fff;
	border-color:#008ed6;
	background-color: #008ed6;
}


























































































