.center-top {font-size: .4rem;color:#fff;}
.center-top {
	height:3.4rem;
	padding-top:.6rem;
	background: url(../img/bg-center.jpg) no-repeat;
	background-size: cover;
}
.center-top img {
	width:1.8rem;
	height:1.8rem;
	border-radius: 50%;
}
.centernav li {
	border-bottom:1px solid #eee;
}
.centernav li:last-child {border:none;}
.centernav .glyphicon-menu-right {color:#999;}
.centernav li a{
	display: block;
	padding:.375rem .3rem;
}
.centernav .iconfont {margin-right: .2rem;}
.record-section li {
	padding:.3rem;
	font-size: .32rem;
	border-bottom: 1px solid #eee;
}
.record-section li:last-child {border:none;}
.record-section img {
	width:1.625rem;
	height:1.625rem;
}
.record-section .pic,
.record-section .num-wrap,
.record-section .btn-wrap
 {
	width:1.83rem;
	text-align: center;
}
.record-section .name
 {
	width:3.3rem;
}

.record-section .name h4,
.record-section .name .intro {font-size: .32rem;white-space: nowrap;overflow: hidden;}
.comment-section li {
	padding:.4rem .3rem;
	border-bottom: 1px solid #eee;
}
.record-section .name .intro {margin-top: .22rem; padding:0 .3rem; height:17px; line-height:17px; white-space:inherit;}
.comment-section li .left {
	width:6.5rem;
}
.comment-section li .right {
	width:2.5rem;
	text-align: right;
}
.record-section .name h4{width:3.7rem; padding:0 .3rem; white-space:normal;}
.record-section .num-wrap{ white-space:normal; width:2.4rem;}
.line{ box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);margin-top:4px; border-bottom:1px dashed #fefefe;}
.comment-section li h4 {
	font-size: .36rem;
	color:#36a803;
	font-weight: bold;}
.comment-section li .comment-detail {
	margin-top: .24rem;
}
.password-section {
	padding:.3rem;
	font-size: .32rem;
}
.coupon-section {
	padding:.3rem;
}
.convert-section dt,
.convert-section dd
{   padding:.22rem .3rem;
	border-bottom:1px solid #eee;}
.convert-section .name {
	-webkit-flex:2;
	-ms-flex:2;
	-moz-flex:2;
	-ms-flex:2;
	flex:2;
	-moz-box-flex:2; 
    -webkit-box-flex:2; 
    box-flex:2;

}
.convert-section .num,
.convert-section .operate
 {
	width:1.4rem;
	text-align: center;
}
.convert-section .pic img {
	width:1.33rem;
}
.convert-section .operate {text-align: right;font-size: .32rem;}
.convert-section .pic {
	width:1.4rem;
}
.convert-section .name {
	-webkit-flex:3;
	-ms-flex:3;
	-moz-flex:3;
	-ms-flex:3;
	flex:3;
	-moz-box-flex:3; 
    -webkit-box-flex:3; 
    box-flex:3;
}
.convert-section .name h4,
.convert-section .name .intro {
	font-size: .32rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.account-section,
.assess-section  {
	padding:.7rem .3rem;
}
.account-section .control-label {text-align: right;}
.account-section .sexul input{
	width:auto;
	display: inline-block;
	margin:0 auto;
	height:auto;
}
.assess-nav {margin-bottom: .3rem;}
.assess-nav a {
	display: block;
	-webkit-flex:1;
	-ms-flex:1;
	-moz-flex:1;
	-ms-flex:1;
	flex:1;
	-moz-box-flex:1; 
    -webkit-box-flex:1; 
    box-flex:1;
    padding:.12rem 0;
    text-align: center;
    font-size: .32rem;
    border:1px solid #eee;
} 
.assess-nav a.active {color:#36a803;}
.record-section .btn-wrap .item {margin-bottom: .1rem;}
.record-section .btn-wrap .assess-btn {color:#ff1b1b;}
.order-state {
	position: relative;
	padding:.22rem;
	font-size: .4rem;
	background-color:#eee; 
}
.order-state strong {
	color:#36a803;
}

.order-state .btn-pay {
	display: inline-block;
	padding:0 6px;
	margin-left:.3rem;
	color:#fff;
	background-color: #36a803;
}
.order-state .btn-remove {
	position: absolute;
	right:.3rem;
	top:.22rem;
	color:#0090ff;
}
.order-num {
	font-size: .4rem;
}
.order-num span{color:#666;}
.order-num .item {
	padding:.32rem .1rem;
	width:5rem;
}
.myorder-detail .name {
	width:6rem;
	text-align: center;
}
.myorder-detail .price,
.myorder-detail .count
 {
	width:2rem;
	text-align: center;
}
.myorder-detail .num {width:2rem;
	text-align: center;}
.myorder-detail .td-fir {
	width:6rem;
	padding-left:.32rem;
	padding-top:.32rem;
}
.myorder-detail .td-fir .pic {
	display: block;
	width:2rem;
	height:2rem;
	vertical-align: middle;
}
.myorder-detail .td-fir .details {
	width:4rem;
	
}
.myorder-detail .td-fir .name,
.myorder-detail .td-fir .date {
	width:5rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.myorder-detail .td-fir .name{
	width:3.4rem; padding:0 .3rem;
	white-space: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
}

.myorder-detail {font-size: .32rem;}
.myorder-detail .order-pay span {
	margin-right: .32rem;
	color:#f00;
	font-weight: bold;}