
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <ol class="breadcrumb">
    	<li style="float:right"><b><a href="{$mname}/add?fid={$id}">添加栏目</a></b></li>
        <li><i class="icon-coffee"></i> 网站栏目</li>
        <li>栏目管理</li>
    </ol>
    <div class="wrap">
        <h2 class="wrap-head"><strong><i class="icon-list"></i></strong><small>栏目管理</small></h2>
        
<form action="{$mname}/doact.qm" class="form-horizontal form-edit">
<input type="hidden" id="idstr" name="idstr" value="">
<input type="hidden" id="sortstr" name="sortstr" value="">
<input type="hidden" name="action" value="sort">
<table class="curve_mid" border="0" cellpadding="2" cellspacing="2">
<tr class="no" align="center">
    <th style="text-align:left">　栏目名称</th>
    <th style="width:60px;">排序</th>
</tr>
<tbody>{$lmlist}</tbody>
<tr class="no" align="center">
    <th></th>
    <th style="width:60px;">
    <button onclick="return save()" type="submit" class="btn btn-primary" id="btn_sub">保存</button>
    </th>
</tr>
</table>

</form>
        
    </div>
</div>

<script src="__PUBLIC__/validform/js/validform_v5.3.2.js"></script>
<script src="__PUBLIC__/validform/js/validform.js"></script>
<script type="text/javascript">
function save()
{
	var size=$("input[name=sid]").size();
	var selarr = new Array([size]);
	var selsortarr=new Array([size]);
	$("input[name=sid]").each(function(i){
		selarr[i]=$("input[name=sid]").eq(i).val();
		selsortarr[i]=$("input[name=sort]").eq(i).val();
	});
	var idstr=selarr.join();
	var sorts=selsortarr.join();
	$("#idstr").val(idstr);
	$("#sortstr").val(sorts);
}
trhover();
</script>