
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <ol class="breadcrumb">
        <li class="pull-right"><a href="#no" onClick="history.go(-1)">返回</a></li>
        <li><i class="icon-coffee"></i> 订单管理</li>
    </ol>
    <div class="wrap">
        <h2 class="wrap-head">
          <strong><i class="icon-list"></i></strong><small>订单管理</small>
        </h2>
<script type="text/javascript">
function selsearch()
{
  var desc=$("input[name=desc]:checked").val();
  var order=$("#Order").val();
  $.cookie("order_order",order);
  $.cookie("order_desc",desc);
  
  var time1=$("#time1").val();
  var time2=$("#time2").val();
  $.cookie("order_time1",time1);
  $.cookie("order_time2",time2);
  location.href="?key="+$("#key").val();
  return false;
}
</script>

<table class="table table-hover table-bordered curve_mid">
  <tr>
    <td>
    <form onsubmit="return selsearch()">　		
         关键字:&nbsp;
          <input id="key" value="{$keys}" style=" width:170px;" class="form-control wat" />
          日期范围<input type="text" style=" width:120px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="time1" value="{$time1}"  class="form-control wat" />-<input type="text" style=" width:120px;" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" id="time2" value="{$time2}"  class="form-control wat" />
         排序:
          <select id="Order" onchange="selsearch()" class="form-control wat">
            <option value="id">按编号</option>
            <option value="time">提交时间</option>
            <option value="paytime">付款时间</option>
            <option value="truename">姓名</option>
            <option value="phone">电话</option>
            <option value="uid">用户编号</option>
            <option value="money">下单金额</option>
            <option value="paymoney">实际支付金额</option>
            <option value="num">预约次数</option>
            <option value="snum">剩余次数</option>
            <option value="cty">订单类型</option>
            
          </select>      
        <input type="radio" id="BDasc" name="desc" value="asc" onclick="selsearch()" /> <label for="BDasc">升序</label>
           <input type="radio" id="BDdesc" name="desc" value="desc" onclick="selsearch()" /> <label for="BDdesc">降序</label>
          <script type="text/javascript">
          $("#Order").val("{$order}");
          $("#BD{$desc}").attr("checked","checked");
          </script>
           <input class="btn btn-primary" type="submit" value="搜索" />
           </form>
       </td>
  </tr>
</table>

<table class="table table-hover table-bordered curve_mid">
  <tr class="no">
  	<th></th>
    <th>ID</th>
    <th align="center">订单类型</th>
    <th align="center">订单编号</th>
    <th align="center">预约次数/剩余次数</th>
    <th align="center">订单金额</th>
    <th align="center">支付金额</th>
    <th align="center">姓名</th>
    <th align="center">手机</th>    
    <th align="center">提交时间</th>
    <th align="center">操作</th>
  </tr>
  <tbody>
    <style>
    .zt1{ color: #6BD700; }
    .zt2{ color: #f00; }
    .zt3{ color: #000; }
    .lv{ color: #5ACF08; }
    </style>
    {volist name='lists' id='vo'}
    {php}

    {/php}
		<tr>
		  <td><!-- <input name="Id" id="ID_{$vo.id}" type="checkbox" value="{$vo.id}" class="checkid" /> --></td>
		  <td align="center">{$vo.id}</td>
      <td align="center">
        {eq name='vo.cty' value='1'}<span>管理员下单</span>{else/}自助下单{/eq}
      </td>
      <td align="center">{$vo.orderid}
    {eq name='vo.paytime' value='0'}<span class="red">[未支付]</span>{else/}<font class="lv">[已支付]</font>{/eq}
      </td>
      <td align="center">{$vo.num}[{$vo.snum}]</td>
      <td align="center">{$vo.money}</td>
      <td align="center">{$vo.paymoney}</td>
      <td align="center">{$vo.truename}</td>
      <td align="center">{$vo.phone}</td>    
      <td align="center">{$vo.time|date='Y-m-d H:i',###}</td>
      <td align="center"><a href="{$mname}/view.qm?id={$vo.id}">查看</a></td> 
		</tr>
    {/volist}
	</tbody>
</table>

<table class="table table-hover table-bordered curve_mid">
    <tr class="no">
    	<td width=40%> {$page}{$selectpg}</td>
      <td align="left">
      <!-- <label class="foot-label"><input type="checkbox" name="checkall" value="0"> 全选</label>   -->    
      <?php
      $qx1=qmcheck('edit',2); 
      $qx2=qmcheck('del',2);
      ?>
      <eq name='qx1' value='1'>
   <!--      <button class="btn btn-primary" onclick="shen1()">添加预约</button> -->
        <script>
        function sheng(ty)
        {
          var T=$("input[name=Id]:checked");
          var size=T.size();
          if(size<1){alert("请选择要操作的信息!");return false;}
          var selarr = new Array([size]);
          T.each(function(i){
            selarr[i]=T.eq(i).val();
          });
          var idstr=selarr.join();
          window.loading("程序处理中...");
          $.ajax({
             type: "POST",
             url: t_do,
             data: "action=g"+ty+"&idstr="+escape(idstr),
             success: function(msg){
               window.showalert(msg,0,1,3,function(){location.reload();});
             }
          });
        }
        </script>
<!--         <button class="btn btn-primary" onclick="sheng(1)">已完成</button>
<button class="btn btn-primary" onclick="sheng(3)">进行中</button>
<button class="btn btn-primary" onclick="sheng(5)">未完成</button> -->
      </eq>
        <eq name='qx2' value='1'>
        <!-- <button class="btn btnd" onclick="delseled()">刪除</button> -->
        </eq>
      </td>
    </tr>
</table>
</div>
</div>