<script type="text/javascript" src="/Comm/js/qmcm.js"></script>
	<div class="foot_menu">
		<a href="/"><i><img src="/Comm/images/me_1.png" alt="{:cntitle(3)}"></i><p>{:cntitle(3)}</p></a>
		<a href="{:htmlname(13)}"><i><img src="/Comm/images/me_2.png" alt="{:cntitle(13)}"></i><p>{:cntitle(13)}</p></a>
		<a href="{:htmlname(9)}"><i><img src="/Comm/images/me_3.png" alt="{:cntitle(9)}"></i><p>{:cntitle(9)}</p></a>
		<a href="/user/buy"><i><img src="/Comm/images/me_4.png" alt="购物车"></i><p>购物车</p></a>
		<a href="/user/index"><i><img src="/Comm/images/me_5.png" alt="会员中心"></i><p>会员中心</p></a>
	</div>	
</body></html><link rel="stylesheet" href="/pub/validform/css/validform.css"><script src="/pub/validform/js/validform_v5.3.2.js"></script><script src="/pub/validform/js/validform.js"></script><script>$(".form-horizontal input,.form-horizontal select").focus(function(){var obj=$(this);if (obj.hasClass("Validform_error")){var v=obj.val();var msg=obj.attr('msg');var msg2=obj.attr('nm');if (msg2!=''){msg=msg2+'格式错误';msg2="请输入"+msg2;}obj.removeClass('Validform_error'); if (v==''){layer.msg(msg2,{time:3000});}else{layer.msg(msg,{time:3000});}}});</script> 